<div class="projects-inner">
  <div class="projects-loading display-none">
    {{t 'app.loading'}}
  </div>
  <div class="no-projects display-none">
    {{t 'app.noprojectstodisplay'}}
  </div>
  <ul class="projects-list clearfix grid-layout"></ul>
</div>
